.account-detail-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;

    & .tx-account {
        margin-block: 2rem;
    }
}


.account-balance {
    font-size: 1em;
    font-weight: bold;
    color: #2e7d32;
}

.bold-item {
    font-weight: bold;
    color: var(--mat-sys-on-primary-container)
}

.alg-mid {
    vertical-align: middle;
}