.account-detail-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.account-balance {
    font-size: 1.2em;
    font-weight: bold;
    color: #2e7d32;
}

.bold-item {
    font-weight: bold;
    color: var(--mat-sys-on-primary-container)
}

.alg-mid {
    vertical-align: middle;
}