<div class="account-container">
    <mat-card>
      <mat-card-header style="padding: 20px;">
        <mat-card-title>
          <mat-icon mat-card-avatar>assured_workload</mat-icon>
          Mis Cuentas Bancarias
        </mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <div class="account-actions">
          <button mat-flat-button color="primary" (click)="openAddAccountDialog()">
            <mat-icon>add</mat-icon> Agregar Nueva Cuenta
          </button>
          <button mat-stroked-button color="primary" (click)="openTransferComponent()">
            <mat-icon>payments</mat-icon> Transferir dinero
          </button>
        </div>
        
        <div class="account-list" *ngIf="(accounts$ | async) as accounts">
          <mat-card *ngFor="let account of accounts" class="account-card">
            <mat-card-header style="align-items: center;">
              <mat-icon mat-card-avatar>account_balance</mat-icon>
              <mat-card-title style="padding-inline-start: 0.3em;">{{ account.type | titlecase}}</mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
              <p><strong>Número de cuenta:</strong> {{ account.accountNumber }}</p>
              <p><strong>Saldo:</strong> $ {{ account.balance }}</p>
            </mat-card-content>
            
            <mat-card-actions style="padding-top: 1rem;">
              <button mat-button color="primary" [routerLink]="['/account', account.id]">
                Ver Detalles
              </button>
            </mat-card-actions>
          </mat-card>
          
          <div *ngIf="accounts.length === 0" class="no-accounts">
            No tienes cuentas bancarias registradas. Agrega una nueva cuenta.
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  